// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  // Aplica o tema do Material 3 ao seu aplicativo.
  // Você escolheu 'Azure' como primário e 'Blue' como terciário.
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto, // Define a tipografia (requer importação no index.html)
    density: 0, // Define a densidade (espaçamento) dos componentes
  ));
}

body {
  // Define o esquema de cores padrão como 'light' (claro).
  // Você pode mudar para 'dark' (escuro) ou 'light dark' (segue o sistema).
  color-scheme: light;

  // Define um fundo, fonte e cor de texto padrão para a aplicação
  // usando as variáveis CSS globais do Angular Material.
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reseta a margem padrão do navegador.
  margin: 0;
}